body {
  font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
  line-height: 130%;
  background-color: rgb(59, 59, 59);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

.wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1900px;
  margin: 2.2rem auto;
}

.bayan__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  background-color: rgb(210, 210, 210);
  margin-bottom: 0.8rem;
  border-radius: 0.8rem;
  overflow: hidden;
}

.bayan__input {
  display: none;
}

.bayan__title-head {
  font-size: 3rem;
  color: rgb(251, 182, 78);
}

.bayan__lable::after {
  content: '\002B';
  color: rgb(0, 0, 0);
  text-align: center;
  transition: ease-in-out 0.3s;
  opacity: 0;
}

.bayan__lable {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  font-size: 2rem;
  line-height: 150%;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  background-color: rgb(180, 179, 179);
}

.bayan__content {
  height: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
  cursor: pointer;
  transition: all 0.7s;
  background-image: url('./1.gif');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 400px;
  opacity: 0;
}

/* Hover */

.bayan:hover .bayan__lable {
  background-color: burlywood;
}

.bayan:hover label::after {
  opacity: 100;
}

.bayan__content:hover {
  height: 50vh;
  opacity: 100;
}

.bayan__lable:hover + .bayan__content {
  height: 50vh;
  opacity: 100;
}

/* Checked */

.bayan__input:checked + .bayan__lable {
  background-color: rgb(237, 165, 72);
  font-weight: bold;
}

.bayan__input:checked + .bayan__lable::after {
  transform: rotate(45deg);
}

.bayan__input:checked ~ .bayan__content {
  height: 50vh;
  opacity: 100;
}

.bayan__item:hover > .bayan__content {
  background-color: white;
  height: 50vh;
}
