body {
  font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
  line-height: 130%;
  background-color: rgb(31, 31, 31);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
}

.wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 950px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.bayan__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  background-color: rgb(210, 210, 210);
  margin-bottom: 0.8rem;
  border-radius: 0.8rem;
  overflow: hidden;
}

.bayan__input {
  display: none;
}

.bayan__title-head {
  font-size: 3rem;
  color: rgb(251, 182, 78);
}

.arrow {
  color: rgb(0, 0, 0);
  text-align: center;
  transition: ease-in-out 0.3s;
  opacity: 10;
}

.bayan__lable {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  font-size: 2.3rem;
  line-height: 110%;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  background-color: rgb(180, 179, 179);
}

.bayan__content {
  height: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
  cursor: pointer;
  transition: all 0.7s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 30vh;
  opacity: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 30vh;
}

#bayan_1 ~ .bayan__content {
  background-image: url('./images/new_technology.gif');
}

#bayan_2 ~ .bayan__content {
  background-image: url('./images/you_are_progmrammer.jpg');
}
#bayan_3 ~ .bayan__content {
  background-image: url('./images/learning.png');
}
#bayan_4 ~ .bayan__content {
  background-image: url('./images/completed.gif');
}
#bayan_5 ~ .bayan__content {
  background-image: url('./images/teach_other.jpg');
}

/* ------ Hover ------ */
.bayan:hover .bayan__lable {
  background-color: burlywood;
}

.bayan:hover .arrow {
  opacity: 100;
}

.bayan__content:hover {
  height: 40vh;
  opacity: 100;
}

.bayan__lable:hover + .bayan__content {
  height: 40vh;
  opacity: 100;
}

.bayan__item:hover > .bayan__content {
  background-color: white;
  height: 40vh;
}

/* ------ Checked ------ */
.bayan__input:checked + .bayan__lable {
  background-color: rgb(237, 165, 72);
  font-weight: bold;
}

.bayan__input:checked ~ .bayan__lable > .arrow {
  transform: rotate(90deg);
}

.bayan__input:checked ~ .bayan__content {
  height: 40vh;
  opacity: 100;
}

/* ------ Active ------ */
.bayan__item:active {
  color: rgba(79, 78, 78, 0.9);
}

.bayan__item:active > .bayan__content {
  background-color: rgba(232, 217, 196, 0.9);
  background-blend-mode: luminosity;
}

/* ------ Media ------ */
@media (max-width: 920px) {
  .bayan__title-head {
    font-size: 2.5rem;
  }

  .bayan__lable {
    padding: 1rem 2rem;
    font-size: 1.8rem;
    line-height: 90%;
  }
}

@media (max-width: 720px) {
  .wraper {
    padding: 0.75rem 1.5rem;
  }

  .bayan__title-head {
    font-size: 1.8rem;
  }

  .bayan__lable {
    padding: 0.8rem 1.3rem;
    font-size: 1.3rem;
    line-height: 110%;
  }

  .bayan__item {
    border-radius: 0.4rem;
  }
}

@media (max-width: 500px) {
  .wraper {
    padding: 0.5rem 1rem;
  }

  .bayan__title-head {
    font-size: 1.4rem;
  }

  .bayan__lable {
    padding: 0.8rem 0.9rem;
    font-size: 0.7rem;
    line-height: 110%;
  }

  .bayan__item {
    border-radius: 0.2rem;
  }
}
