body {
  font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 130%;
  background-color: rgb(59, 59, 59);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

.bayan {
}

.wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 900px;
  margin: 20px auto;
}

.bayan__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  background-color: rgb(210, 210, 210);
  border: 1px solid rgb(246, 150, 34);
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.bayan__input {
  display: none;
}

.bayan__title-head {
  font-size: 3rem;
  color: rgb(251, 182, 78);
}

.bayan__lable::after {
  content: '\002B';
  color: green;
  text-align: center;
  transition: ease-in-out 0.3s;
}

.bayan__lable {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 2rem;
  line-height: 150%;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  background-color: rgb(180, 179, 179);
}

.bayan__content {
  height: 0;

  justify-content: center;
  text-align: center;
  padding: 0 1rem;
  cursor: pointer;
  transition: all 0.4s;
  background-image: url('./1.gif');
  background-repeat: no-repeat;
  background-position: center;

  /* background-color: rgb(36, 26, 26); */
}

.bayan__lable:hover {
  background-color: burlywood;
}

.bayan__input:checked + .bayan__lable {
  background-color: rgb(237, 165, 72);
}

.bayan__content:hover {
  height: 500px;
  background-color: rgb(255, 255, 255);
}

.bayan__lable:hover + .bayan__content {
  background-color: rgb(255, 255, 255);
  height: 500px;
}

.bayan__input:checked + .bayan__lable::after {
  transform: rotate(45deg);
}

.bayan__input:checked ~ .bayan__content {
  height: 500px;
}
